@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Serif Pro', serif;
}

body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url('../images/swii.jpg');
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  color: #e4e40de8;
  padding-left: 10rem;
}

.btn-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #169416;
}

.recenth3 {

}

#refresh {
  font-size: 1rem;
  font-weight: bold;
  color: #12c712;
  padding: 2px;
  background-color: hsl(242deg 4% 18%);
}

#refresh:hover {
  background-color: #e4e40de8;
}

#container {
  display: flex;
  gap: 3rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#points {
  border: 3px solid #e4e40de8;
  overflow: auto;
}

#scores {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 0.4rem;
  height: 3rem;
}

#scores:nth-child(odd) {
  background-color: hsl(180deg 64% 22%);
}

#scores:nth-child(even) {
  background-color: rgb(218 4 147 / 92%);
}

